@import url('https://fonts.cdnfonts.com/css/public-pixel');

* {
    font-family: 'Public Pixel', sans-serif;
}

body {
    margin: 0;
    font-family: 'Public Pixel', sans-serif;
}

.bg_cloud {
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 1;
    -webkit-animation: slide 25s linear infinite;
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -1918px 0px;
    }
}

.bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.text_box {
    padding: 10px;
    margin: 2em auto;
    box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
        0 5px 0 0 black;
}
.text_box {
    padding: 10px;
    margin: 2em auto;
    box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
        0 5px 0 0 black;
}

.card {
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.div-clickable {
    cursor: pointer;
}
Back-1:hover {
    opacity: 50%;
}
